.button{
    font-size: 15px;
    text-decoration: underline;
}
.botones{
    background-color: $colorfondobtn;
    color: $colorletrabtn;
    font-weight: bold;
    text-decoration: none;
}
.botones{
     a{
    color: $colorletrabtn;
    text-decoration: none;
    font-weight: bold;
    }
}
.btnaqui{
    color: $colorfondobtn;
    text-decoration: underline solid white;
}