h1 {
    @include titulo;
}

.subPrinc {
    text-align: center;
    color: $colorletras;
}

.descLomo {
    color: $colorletras;
    font-weight: bold;
}

.descLomo {
    h3 {
        @include h3deco;
    }
}

.descLomos {
    color: $colorletras;
    font-weight: bold;
}

.descLomos {
    h3 {
        @include h3deco;
    }
}

.mensajeImp {
    color: $colorletras;
    text-align: center;
    font-size: 1.5rem;
}